*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. HTML 요소 기본 스타일 */
html {
  font-size: 62.5%; /* 16px (기본 브라우저 크기) * 62.5% = 10px */
  line-height: 1.5; /* 라인 높이 */
}

body {
  font-size: 1rem;
  background-color: #fff;
}

/* 3. 타이틀 관련 초기화 */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

/* 4. 리스트 기본 스타일 초기화 */
ul,
ol {
  list-style: none;
}

/* 5. 링크 스타일 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 6. 테이블 스타일 초기화 */
table {
  border-collapse: collapse;
}

th,
td {
  padding: 0;
  text-align: left;
}

/* 7. 버튼 기본 스타일 초기화 */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* 8. 입력, 텍스트영역 초기화 */
input,
textarea,
select,
button {
  font: inherit; /* 상속된 폰트를 사용 */
  margin: 0;
}

/* 9. 이미지, 비디오 요소 기본 설정 */
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
